*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	transition: 0.5s;
}
body
{
	background: #231c30;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.circle
{
	width: 200px;
	height: 200px;
	border: 10px solid #d94a83;
	border-radius: 50%;
	filter: drop-shadow(0 0 8px #8c3053);
}
.rectangle
{
	width: 200px;
	height: 200px;
	margin: 0 120px;
	border: 10px solid #3a49c2;
	filter: drop-shadow(0 0 8px #232d75);
}
.triangle
{
	width: 250px;
	height: 300px;
	fill: rgba(255, 255, 255, 0);
	filter: drop-shadow(0 0 8px #19754b);
	stroke: #29c17c;
	stroke-width: 24px;
}

@media (max-width: 1000px)
{
	body
	{
		flex-direction: column;
	}
	body::before
	{
		position: absolute;
		content: '';
		top: 0;
		left: 50%;
		width: 2px;
		height: 100%;
		background: rgba(255, 255, 255, 0.5);
	}
	.rectangle
	{
		margin: 48px 0 0;
	}
}