*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	transition: 0.5s;
}
body
{
	background: #231c30;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.circle
{
	width: 200px;
	height: 200px;
	border: 8px solid #fff;
	border-radius: 50%;
	box-shadow:
	  inset 0 0 12px #dd4581,
	  inset 0 0 21px #dd4581,
      0 0 12px #dd4581,
      0 0 21px #dd4581;
}
.rectangle
{
	width: 200px;
	height: 200px;
	margin: 0 120px;
	border: 8px solid #3a49c2;
	box-shadow:
	  inset 0 0 9px #232d75,
	  inset 0 0 18px #232d75,
      0 0 9px #232d75,
      0 0 18px #232d75;
}
.triangle
{
	fill: rgba(255, 255, 255, 0);
	filter: drop-shadow(0 0 10px #29c17c);
	stroke: #fff;
	stroke-width: 20px;
	width: 250px;
	height: 300px;
}