*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	transition: 0.5s;
}
body
{
	background: #231c30;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.circle
{
	width: 200px;
	height: 200px;
	border: 8px solid #fff;
	border-radius: 50%;
	box-shadow:
	  inset 0 0 1px #fff,
	  inset 0 0 2px #fff,
	  inset 0 0 12px #dd4581,
	  inset 0 0 21px #dd4581,
	  0 0 1px #fff,
      0 0 2px #fff,
      0 0 12px #dd4581,
      0 0 21px #dd4581
	/*box-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #dd4581,
      0 0 82px #dd4581,
      0 0 92px #dd4581,
      0 0 102px #dd4581,
      0 0 151px #dd4581;*/
}
.rectangle
{
	width: 200px;
	height: 200px;
	margin: 0 120px;
	border: 8px solid #fff;
	box-shadow:
	  inset 0 0 1px #fff,
	  inset 0 0 2px #fff,
	  inset 0 0 12px #3a49c2,
	  inset 0 0 21px #3a49c2,
	  0 0 1px #fff,
      0 0 2px #fff,
      0 0 12px #3a49c2,
      0 0 21px #3a49c2
}
.triangle
{
	position: relative;
	width: 0;
	height: 0;
	border-left: 140px solid transparent;
	border-right: 140px solid transparent;
	border-bottom: 230px solid #29c17c;
}
.triangle::before
{
	position: absolute;
	top: 20px;
	left: -120px;
	content: '';
	width: 0;
	height: 0;
	border-left: 120px solid transparent;
	border-right: 120px solid transparent;
	border-bottom: 200px solid #fff;
}