*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	transition: 0.5s;
}
.circle
{
	width: 200px;
	height: 200px;
	border: 8px solid #dd4581;
	border-radius: 50%;
}
.rectangle
{
	width: 200px;
	height: 200px;
	border: 8px solid #3a49c2;
}
.triangle
{
	position: relative;
	width: 0;
	height: 0;
	border-left: 140px solid transparent;
	border-right: 140px solid transparent;
	border-bottom: 230px solid #29c17c;
}
.triangle::before
{
	content: '';
	width: 0;
	height: 0;
}